<meta charset="utf-8">
<link rel="author" href="humans.txt" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/base.css">
<link rel="stylesheet" href="/assets/css/skeleton.css">
<link rel="stylesheet" href="/assets/css/layout.css">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/app.css">
<link rel="stylesheet" href="/assets/css/test.css">
<!--[if !IE 7]>
	<style type="text/css">#wrap {display:table;height:100%}</style>
<![endif]-->
<!--[if IE 7]>
  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
<![endif]-->
<script src="/assets/js/vendor/custom.modernizr.js"></script>
<link rel="shortcut icon" href="favicon.ico">