/* Table of Content
==================================================
  #Sticky Footer
  #Layout
    - Header
    - Content
    - Aside
    - Footer
  #Forms
  #typography
  #Videos
  #Misc */

/* ------------------ Rules added for sticky footer ------------------ */
html, body { height: 100%; }
.wrapper { display: table; height: 100%; width: 100%; margin: 0 auto; }
.block { display: table-row; height: 1px; }
.push { height: auto; }

/* ------------------ Layout ------------------ */
/* Header ====== */
/* Content ====== */
/* Aside ====== */
/* Footer ====== */

/* ------------------ Forms ------------------ */

/* ------------------ typography ------------------ */
sup { font-size: 60%; vertical-align:super; }
/* a { color: } */

/* ------------------ Videos ------------------ */
/* makes the embedded videos responsive */
#video-container { height: 0; width: 100%; padding-bottom: 56.25%; position: relative; }
#video-container iframe { height: 100%; width: 100%; position: absolute; top: 0; left: 0; }

/* ------------------ Misc ------------------ */