/* Sticky Footer 
Sticky Footer Solution by Steve Hatcher, http://stever.ca, http://www.cssstickyfooter.com
================================================ */
* { margin:0; padding:0; } 
html, body { height: 100%; }
#wrap { min-height: 100%; }
#main { overflow:auto; padding-bottom: 180px;}  /* must be same height as the footer */
#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
} 
/*Opera Fix - thanks to Maleika (Kohoutec)*/
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px;/* thank you Erik J - negate effect of float*/ }
/* end of sticky footer solution. */

#wrap { 
	width: 100%; 
}

#main { 
	margin: 0 auto; /* forces centering */
}  

/* 
* Use this .expandedContainer class in a div if you want to add a full width background.
* Give the div an additional class or add an id with a a background image or color to suit your needs. 
* You can then add a div inside and use the .inner class to contain the contents at a custom width.
*/
.expandedContainer {}

.inner {}

/* Header 
================================================ */
#header {}

/* Content 
================================================ */
#content {}

/* Aside 
================================================ */
#aside {}

/* Footer 
================================================ */
#footer {
	background-color: rgb(210,210,210); /* change color accordingly */
	width: 100%;
}
#footer #copyright {}
#footer #copyright p {}
#footer ul {}
#footer ul li {}
#footer ul li a {}


/* Home Page 
================================================ */
.homeHero{
  background-position: top center; 
  background-repeat: no-repeat; 
  overflow: hidden;
}

/* About Page
================================================ */

/* Contact Page
================================================ */